.cart_minuature {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  padding: 10px;
}

.remove_item {
  color: #f44336;
  width: 100%;
  text-align: right;
  font-size: 1.5em;
  cursor: pointer;
}

.cart_minuature img {
  margin: 0;
  padding: 0;
  width: 180px;
}

.cart_minuature span {
  color: #222222;
}

.miniature_description {
  font-size: 0.9em;
  width: 100%;
  text-align: left;
}
.maniature_price {
  width: 100%;
  font-size: 0.9em;
  text-align: right;
  font-weight: bold;
}
