.categoryHeader {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 5px;
}
.categoryHeader h3 {
  color: #222222;
  font-size: 30px;
}

.categoryHeader h4 {
  color: #999999;
  font-size: 15px;
}
